streamlit>=1.28
langchain>=0.0.217
openai>=1.2
duckduckgo-search
streamlit-feedback
huggingface_hub
langchain_community
replicate
langchain-google-genai==1.0.3
pillow
pypdf
# langchain-chroma
#Chroma requires sqlite3 >= 3.35.0
chromadb==0.3.29
pysqlite3-binary